.main-container{
    width: 90%;
    max-width: 1140px;
    
    margin: 0 auto;
}

.backtotop{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.backtotop button{
    background-color: var(--azul-escuro);
    padding: 1rem;
    color: #FFF;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

.backtotop button svg{
    width: 3rem;
    height: 3rem;
}

.header{
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    background-color: transparent;
}

.header .container{
    padding: 8px 0;
    
    width: 90%;
    max-width: 1140px;
    
    margin: 0 auto;
}

.header .container .nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .container .nav-bar .links-nav{
    padding: 0.8rem 1.6rem;
    color: #FFF;
}

/* Banner */

.banner{
    background: rgb(99,180,238);
    background: linear-gradient(145deg, rgba(99,180,238,1) 0%, rgba(8,44,70,1) 100%);

    width: 100%;
    height: 500px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
}

.banner .content {
    z-index: 1;

    text-align: center;
}

.banner .content .foto-pessoal img{
    width: 150px;
    border-radius: 50%;
}

.banner .content .descricao{
    padding: 1.8rem 0;
    color: #FFF;
}

.banner .content .descricao h2{
    font-size: 1.6rem;
}

.banner .content .links-redes .redes-icon{
    margin: 0.5rem;
    font-size: 2.8rem;
    color: #FFF;
}

/* Sobre */

.sobre{
    width: 100%;
}

.sobre .content{
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #ccc;

    margin-top: 5rem;
    margin-bottom: 2.5rem;

    padding: 4rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.sobre .content .sobre-text{
    width: 50%;
    padding-right: 1rem;
}

.sobre .content .sobre-text .box{
    padding-top: 1.4rem;
}

.sobre .content .infos-basicas{
    width: 50%;
}

.sobre .content .infos-basicas .box{
    padding-top: 1rem;
}

.sobre .content .infos-basicas .box .row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.4rem 0;
}

.sobre .content .infos-basicas .box .row .destaque{
    font-weight: 700;
}

/* Skills */

.skills{
    width: 100%;
}

.skills .content{
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #ccc;

    margin-top: 5rem;
    margin-bottom: 2.5rem;

    padding: 4rem 5rem;

}

.skills .content .skills-nivel{
    padding: 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills .content .skills-nivel .box-skills {
    width: 30%;
    
    text-align: center;
}

.skills .content .skills-nivel .box-skills .svg svg {
    width: 100px;
    min-height: 150px;
}

.skills .content .skills-nivel .box-skills .barra-progresso {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 15px;
    margin-top: 1rem;
}
.skills .content .skills-nivel .box-skills .barra{
    position: absolute;
    height: 100%;
    background-color: var(--azul-escuro);
    border-radius: 15px;
    transition: 0.3s linear;
}

.skills .content .skills-nivel .box-skills #barra-html {
    width: 91%;
}

.skills .content .skills-nivel .box-skills #barra-css {
    width: 94%;
}
.skills .content .skills-nivel .box-skills #barra-js {
    width: 79%;
}
.skills .content .skills-nivel .box-skills #barra-react {
    width: 57%;
}
.skills .content .skills-nivel .box-skills #barra-sass {
    width: 60%;
}
.skills .content .skills-nivel .box-skills #barra-bootstrap {
    width: 42%;
}
.skills .content .skills-nivel .box-skills #barra-git {
    width: 77%;
}

.skills .content .skills-nivel .box-skills #barra-github {
    width: 87%;
}
  
.skills .content .skills-nivel .box-skills #barra-cpanel {
    width: 90%;
}
.skills .content .skills-nivel .box-skills .label-barra {
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* trajetoria */

.trajetoria{
    width: 100%;
}

.trajetoria .content{
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #ccc;

    margin-top: 5rem;
    margin-bottom: 2.5rem;

    padding: 4rem 5rem;

}

.trajetoria .content .container-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.trajetoria .content .container-box .linha-centro{
    height: 100vh;
    width: 5px;
    position: relative;
}

.trajetoria .content .container-box .linha-centro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azul-escuro);
}

.trajetoria .content .container-box .left-panel{
    width: 45%;
}


.trajetoria .content .container-box .right-panel{
    width: 45%;
}



.trajetoria .content .container-box .box-vazio{
    height: 150px;
}

.trajetoria .content .container-box .box-etapa{
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 10px #ccc;

    width: 100%;
    height: 150px;

    position: relative;
}

.trajetoria .content .container-box .box-left::before{
    content: "";
    position: absolute;
    right: -5rem;
    top: 50%;
    width: 5rem;
    height: 0.5rem;
    background-color: var(--azul-escuro);
}

.trajetoria .content .container-box .box-right::before{
    content: "";
    position: absolute;
    left: -5rem;
    top: 50%;
    width: 5rem;
    height: 0.5rem;
    background-color: var(--azul-escuro);
}



.trajetoria .content .container-box .box-left::after{
    content: "";
    position: absolute;
    right: -6rem;
    top: 45%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--verde);
    z-index: 2;
}

.trajetoria .content .container-box .box-right::after{
    content: "";
    position: absolute;
    left: -6rem;
    top: 45%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--verde);
}




.trajetoria .content .container-box .box-etapa .data{
    height: 100%;
    width: 30%;
    background-color: #eee;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid var(--azul-escuro);
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trajetoria .content .container-box .box-etapa .data .data-ano{
    font-size: 1.6rem;
}

.trajetoria .content .container-box .box-etapa .text{
    width: 60%;
}